# Python virtual environment
venv/

# Data files
data/*.csv
!data/spotify_billboard_merged.csv
data/*.json

# Ignore cloned subrepo
rwd-billboard-data/

# Common extras to ignore
.env
__pycache__/
.vscode/
.DS_Store
.cache/
.ipynb_checkpoints/
